@page "/AddMahasiswa" 
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Tambah Mahasiswa UKDW</PageTitle>
<h3>Tambah Data Mahasiswa</h3>
<div class="md-3">
    <p>Masukkan DATA MAHASISWA sesuai perintah dibawah ini:</p>
</div>
<div>
    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NAMA MAHASISWA</span>
        <input class="form-control" placeholder="Nama Mahasiswa" @bind="newNama">
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NIM</span>
        <input class="form-control" placeholder="NIM" @bind="newNim">
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">ADDRESS</span>
        <input class="form-control" placeholder="Alamat" @bind="newAlamat">
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">EMAIL</span>
        <input class="form-control" placeholder="name.name@email.com" @bind="newEmail">
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">CHOOSE FILE</span>
        <input class="form-control" placeholder="Choose File" @bind="newFoto">
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NIM PROGMOB</span>
        <input class="form-control" placeholder="NIM PROGMOB" @bind="newNimProgmob">
    </div>
    
    <div class="mt-2">
        <button type="button" class="btn btn-primary" @onclick="Save">ADD DATA</button>
        <a href="MahasiswaList">
            <button type="button" class="btn btn-danger">Back</button>
        </a>
    </div>
    </div>
@code
{
    public int newId ;
    public string? newNama;
    public string? newNim;
    public string? newAlamat;
    public string? newEmail;
    public string? newFoto;
    public string? newNimProgmob;

    protected async Task Save()
    {
        var createData = new Mahasiswa {nama = newNama, nim = newNim, alamat = newAlamat, email = newEmail, foto = newFoto, nimProgmob = newNimProgmob};
        await Http.PostAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/create", createData);
        await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
        NavigationManager.NavigateTo("MahasiswaList");
    }
}