@page "/consume-component-3"
@using ComponentLibrary

<h1>Consume component (<code>additionalStyles.css</code> <link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet" /> example)</h1>

<ExtraStyles />